.box {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 14px;
    color: #555;
  }
  


.box
{
    position: relative;
    top : 270px;
    width: 33.33%;
    left: 60px;
    padding: 30px;
}
.card-front
{
  position: absolute;
  width: 20%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  color: black;
  border: 5px outset #09C 5px;
}
